.footerlinks {
    color: #ffffff;
    text-decoration: none !important;
}

    .footerlinks:hover {
        color: #ffd800
    }

#footer1 {
    background: #262b48
}

#footer2 {
    background: #000b86
}

